@model int 

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">OrderPlaced SuccessFully!</h1>
        Your Order Number is : @Model <br /><br /><br />
        <img src="~/images/dark skies.jpg" width="65%"/>
    </div>
    <div class="col-12 text-center style="color:maroon">
        <br/>
        Your order has been placed SuccessFully !  <br />
    </div>
</div>